<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.username %></h1>
</p>
<p>Member of 
<% if @user.beer_clubs.empty? %>
no clubs</p>
<% else %>
    <% @user.beer_clubs.each do |beer_club| %>
        <%= link_to beer_club.name, beer_club %> 
    <% end %>
  <% end %>

<% if @user.ratings.empty? %>
<p>No ratings</p>
<% else %>
<p>
	Has made <%= pluralize(@user.ratings.count, "rating") %>, 
	average <%= round(@user.average_rating) %>
</p>
<p>
  Favorite beer style: <%= @user.favorite_style %>
</p>
<p>
  Favorite brewery: <%= @user.favorite_brewery.name %>
</p>

<% end %>

<h2>Ratings</h2>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li> 
        <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
    <% end %>
  </ul>

<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %>
	<%= link_to 'Destroy', @user, method: :delete, 
			data: { confirm: 'Are you sure?' } %>
<% end %>		
<%= link_to 'Back', users_path %>
