<p id="notice"><%= notice %></p>

<h1><%= @place.name %></h1>
 
<p><%= @place.street %></p>
<p><%= @place.zip %> <%= @place.city %></p>

<iframe src="<%= @place.blogmap %>" width=500 height=400></iframe>
<!--
  <table>
    <thead>
      <% Place.rendered_fields.each do |f| %>
        <td><%=f %></td>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |f| %>
          <td><%= place.send(f) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  !-->

